{% load static %}
<link rel="stylesheet" href="{% static 'core/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz App</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'static/core/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>

    <!-- Navbar -->
     
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Quiz App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
                  
                  {% if user.is_staff %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
                  </li>
                  {% endif %}
                  
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'my_attempts' %}">My Attempts</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link">Hello, {{ user.username }}</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
              {% else %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
              {% endif %}
              
  
          </ul>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

   

    <!-- JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'static/js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta/dist/vanta.waves.min.js"></script>

<script>
  VANTA.WAVES({
    el: "body",
    mouseControls: true,
    touchControls: true,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0x6c63ff,
    shininess: 50.00,
    waveHeight: 20.00,
    waveSpeed: 1.20,
    zoom: 1.00
  })
</script>

</body>
</html>
